<h1>Quiz Time</h1>

<div>
	<div>Score: <%= @score %></div>
	<div>Lives Remaining:<%= @lives %></div>
</div>

<h3>Please translate all given words into czech!</h3>
<% @index = 0 %>
<h1>
	<%= @vocabList[@index].english %>
</h1>
<h1>
	<%= @vocabList[@index].czech %>
</h1>


      